<% content_for :title, "Edit Category" %>

<div class="glass-background">
  <div class="container glass-container pt-4 pb-5">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="mb-4">
          <nav aria-label="breadcrumb">
            <ol class="glass-breadcrumb breadcrumb mb-0">
              <li class="breadcrumb-item"><%= link_to "Categories", categories_path %></li>
              <li class="breadcrumb-item"><%= link_to @category.name, @category %></li>
              <li class="breadcrumb-item active" aria-current="page">Edit</li>
            </ol>
          </nav>
        </div>

        <div class="glass-card">
          <div class="glass-card-header">
            <h1 class="h3 mb-0 glass-text-white fw-light">
              <i class="bi bi-pencil-square me-3"></i>
              Edit Category: <%= @category.name %>
            </h1>
          </div>
          
          <div class="glass-card-body">
            <%= render "form", category: @category %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
